.about-box {
    background-color: #f0f0f0;
}

.about-box section {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow effect */
    margin: 20px auto; /* Optional: Center the box horizontally */
    max-width: 800px; /* Optional: Set a maximum width */
    margin-bottom: 20px;
  }
  
  .about-box h2 {
    color: #333;
  }
  
  .about-box p {
    color: #666;
  }
  